#!/bin/bash

# .bootstrap/setup.yaml hash: {{ include "private_dot_bootstrap/private_setup.yaml" | sha256sum }}

export PATH="${HOME}/.local/bin:${PATH}"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

if command -v ansible-playbook &> /dev/null; then
    export ANSIBLE_NOCOWS=1
    ansible-playbook -i localhost, -c local {{ joinPath .chezmoi.sourceDir "private_dot_bootstrap/private_setup.yaml" | quote }}
else
    echo '[ERROR] ansible-playbook command not found. Please install Ansible first.'
    exit 1
fi
